---
layout: default
---

<article id="main">
    <header class="special container">
        <h2><strong>News</strong></h2>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
 						<div class="row oneandhalf">
							<div class="4u">
							<span class="image featured"><img src={{ post.image }} alt=""></span>
							</div>
						    <div class="8u">
                			{{ post.excerpt }}
                			<section class="special">
							<ul class="buttons">
							<li><a href="{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
               			</div>

            </li>
          {% endfor %}
        </ul>
    </section>
</article>