<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Soraya May</h2>
        </header>
        <p><strong>The Cat's Pajamas</strong>,
        <br />Soraya's third novel
        <br />
        <strong>Launches August 24th on Amazon</strong>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://www.goodreads.com/book/show/35910130-the-cat-s-pajamas" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>