<header id="header">
				<h1 id="logo"><a href="/">Soraya May <span>True. Romance&#8253</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/about.html">About</a></li>
                        <li><a href="/professor_trouble.html">Professor Trouble</a></li>
                        <li><a href="/big_deal.html">Big Deal</a></li>
                        <li><a href="http://fb.me/SorayaMayAuthor" target="_blank">Facebook</a></li>
							<li><form id="mlb2-5115379" action="//app.mailerlite.com/webforms/popup/d6d8x5" data-code="d6d8x5" data-id="423119" target="_blank"> <div class="button-preview"> <button type="submit" class="ml-subscribe-button">Mailing List</button> </div> </form> <script type="text/javascript" src="//static.mailerlite.com/js/w/button.min.js?v1f0baea18b848a8ab8e485e9a1acc285"></script></li>
					</ul>
				</nav>
			</header>