<header id="header">
				<h1 id="logo"><a href="/">Soraya May <span>True. Romance&#8253</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/about.html">About</a></li>
                        <li><a href="/professor_trouble.html">Professor Trouble</a></li>
                        <li><a href="http://fb.me/SorayaMayAuthor" target="_blank">Facebook</a></li>
						<li><a href="http://eepurl.com/cezVGn" target="_blank" class="button special">Join The Team</a></li>
					</ul>
				</nav>
			</header>